{% extends 'base.html.twig' %}

{% block title %}A propos - Rheia{% endblock %}

{% block body %}
    <div class="Top">
        <h2>A propos</h2>
    </div> 
    <section id="about">
<i class="fa-solid fa-spinner fa-spin"></i>
<h3>Page en cours de création</h3>
    </section> 
{% endblock %}
