<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Rheïa{% endblock %}</title>
        {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/global.css') }}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    {% include '_partials/_flash.html.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>
