{% extends 'base.html.twig' %}

{% block title %}Modification de votre profil
{% endblock %}

{% block body %}

	<section id="profile">
		<h2>Modification de votre profil</h2>
		<div>
			<div id="menu">
				<a href="{{path('user_index')}}">Mon profil</a>
				<a href="{{path('user_adress')}}">Mes adresses</a>
			</div>
			<hr>
			
			<div id="informations">
				{{form(form)}}
				</div>
				<div></div>
				<div></div>
			</div>
		</div>
	</section>
{% endblock %}
